.color{
    color:whitesmoke;
}
.color1{
    color: darkmagenta;
}
.color2{
    background-color: navy;
}
.bcg{
 background-color:silver;
}
a{
    color: white;
}
.color3{
    background-color: cornflowerblue;
}